<div class="layout">
  <section class="cat">
    <div class="container">
      <div class="row clearfix text-center">
        <!--grid services menu - start -->
        <div class="category-grid">
          <div class="category-grid__item">
            <img src="/custom/images/cat/1.jpg" />
            <div class="category-grid__fill">
              <a
                class="category-grid__clinic"
                href="https://klinika-aspirin.ru/clinic/station/shipilovskaya/"
                target="_blank"
                ><span class="category-grid__name"
                  >Клиника &laquo;Аспирин&raquo;</span
                >
                <span class="category-grid__metro">
                  <span class="metro-station-icon"></span> Шипиловская
                </span>
              </a>
              <a
                class="category-grid__address"
                href="https://yandex.ru/maps/-/CKUPvMiW"
                target="_blank"
                >ул. Шипиловская, 48, к 2А</a
              >
              <div class="category-grid__phone">
                <!-- <a href="tel:+74952043663">+7 (495) 204-36-63</a> --><a
                  href="tel:+74959204454"
                  >+7 (495) 920-44-54</a
                >
              </div>
            </div>
          </div>

          <div class="category-grid__item">
            <img src="/custom/images/cat/2.jpg" />
            <div class="category-grid__fill">
              <span class="category-grid__name"
                >Клиника &laquo;Аспирин&raquo;</span
              >
              <span class="category-grid__metro">
                <span class="metro-station-icon"></span> Калужская
              </span>
              <a
                class="category-grid__address"
                href="https://yandex.ru/maps/-/CKUPvF89"
                target="_blank"
                >ул. Бутлерова, 4</a
              >

              <div class="category-grid__phone">
                <a href="tel:+74952337288">+7 (495) 233-72-88</a>
              </div>
            </div>
          </div>

          <div class="category-grid__item">
            <img src="/custom/images/cat/3.jpg" />
            <div class="category-grid__fill">
              <a
                class="category-grid__clinic"
                href="https://klinika-aspirin.ru/clinic/station/molodezhnaya/"
                target="_blank"
                ><span class="category-grid__name"
                  >Клиника &laquo;Аспирин&raquo;</span
                >
                <span class="category-grid__metro">
                  <span class="metro-station-icon"></span> Молодежная
                </span>
              </a>
              <a
                class="category-grid__address"
                href="https://yandex.ru/maps/-/CKUPv6zC"
                target="_blank"
                >ул. Партизанская, 24 к2</a
              >

              <div class="category-grid__phone">
                <a href="tel:+74956658454">+7 (495) 665-84-54</a>
              </div>
            </div>
          </div>

          <div class="category-grid__item">
            <img src="/custom/images/cat/4.jpg" />
            <div class="category-grid__fill">
              <a
                class="category-grid__clinic"
                href="https://klinika-aspirin.ru/clinic/station/voykovskaya/"
                target="_blank"
                ><span class="category-grid__name"
                  >Клиника &laquo;Аспирин&raquo;
                </span>
                <span class="category-grid__metro">
                  <span class="metro-station-icon"></span> Войковскя
                </span>
              </a>
              <a
                class="category-grid__address"
                href="https://yandex.ru/maps/-/CKUPvW3j"
                target="_blank"
                >ул. Большая Академическая ул. 15 к1</a
              >

              <div class="category-grid__phone">
                <a href="tel:+74959027885">+7 (495) 902-78-85</a>
              </div>
            </div>
          </div>

          <div class="category-grid__item">
            <img src="/custom/images/cat/5.jpg" />
            <div class="category-grid__fill">
              <span class="category-grid__name"
                >Клиника &laquo;Аспирин&raquo;
              </span>
              <span class="category-grid__metro">
                <span class="metro-station-icon"></span> Водный стадион
              </span>
              <a
                class="category-grid__address"
                href="https://yandex.ru/maps/-/CKUPvP-I"
                target="_blank"
                >ул. Кронштадтский бульвар, 30</a
              >

              <div class="category-grid__phone">
                <a href="tel:+74957686525">+7 (495) 768-65-25</a>
              </div>
            </div>
          </div>

          <div class="category-grid__item">
            <img src="/custom/images/cat/6.jpg" />
            <div class="category-grid__fill">
              <span class="category-grid__name"
                >Клиника &laquo;Аспирин&raquo;</span
              >
              <span class="category-grid__metro">
                <span class="metro-station-icon"></span> Бульвар Дмитрия
                Донского
              </span>
              <a
                class="category-grid__address"
                href="https://yandex.ru/maps/-/CKUTIYkv"
                target="_blank"
                >ул. Маршала Савицкого, 20к1</a
              >

              <div class="category-grid__phone">
                <!-- <a href="tel:+74950216499">+7 (495) 021-64-99</a> --><a
                  href="tel:+74992344040"
                  >+7 (499) 234-40-40</a
                >
              </div>
            </div>
          </div>

          <div class="category-grid__item">
            <img src="/custom/images/cat/7.jpg" />
            <div class="category-grid__fill">
              <a
                class="category-grid__clinic"
                href="https://klinika-aspirin.ru/clinic/station/dmitrievskogo/"
                target="_blank"
                ><span class="category-grid__name"
                  >Клиника &laquo;Аспирин&raquo;
                </span>
                <span class="category-grid__metro">
                  <span class="metro-station-icon"></span> улица Дмитриевского
                </span>
              </a>
              <a
                class="category-grid__address"
                href="https://yandex.ru/maps/-/CKUTIXKQ"
                target="_blank"
                >ул. Рудневка, 4</a
              >

              <div class="category-grid__phone">
                <a href="tel:+74959027788">+7 (495) 902-77-88</a>
              </div>
            </div>
          </div>

          <div class="category-grid__item">
            <img src="/custom/images/cat/8.jpg" />
            <div class="category-grid__fill">
              <a
                class="category-grid__clinic"
                href="https://klinika-aspirin.ru/clinic/station/slavyanskiy-bulvar/"
                target="_blank"
                ><span class="category-grid__name"
                  >Клиника &laquo;Аспирин&raquo;</span
                >
                <span class="category-grid__metro">
                  <span class="metro-station-icon"></span> Славянский бульвар
                </span>
              </a>
              <a
                class="category-grid__address"
                href="https://g.page/doktor_ryadom_metro_slavyanskij?share"
                target="_blank"
                >ул. Тарутинская, 4 к1</a
              >

              <div class="category-grid__phone">
                <a href="tel:+74957680300">+7 (495) 768-03-00</a>
              </div>
            </div>
          </div>
        </div>
        <!--grid services menu - end -->
      </div>
    </div>
  </section>
</div>
